.header__inner {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: 1.5rem;
}

.header__menu {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header__menu-item {
    padding: 0.1em 0.4em;
}

.header__menu-item:hover {
    background: #182028;
    border-radius: 6px;
}

#cb1 {
    display: none;
}



@media (max-width: 700px) {

}