.block {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.block__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
    font-weight: 700;
}

.block__code {
    padding: 1.5rem;
    width: 100%;
    background: var(--black-object);
    border: 1px solid var(--black-border);
    border-radius: 9px;
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.block__code-text {
    gap: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.block__code-button {
    /*align-items: start;*/
}

.block__code-copy {
    color: #7d8590;
    /*line-height: 1.6rem;*/
    font-size: 2.4rem;
    padding: 0.3rem 0.8rem;
    border: 1px solid #363b42;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.block__code-copy img {
    height: 1em;
    width: 1em;
    position: relative;
    top: 0.2rem;
}

/*.block__code-copy--copied img{*/
/*    display: none;*/
/*}*/


.block__code-copy--copied::before {
    border-radius: 6px;
    z-index: 2;
    position: absolute;
    padding: 0.35rem 0.8rem;
    top:-3%;
    right:-10%;
    content: "Copied!";
    border: 1px solid #4d545e;
    background: #191e26;
}

.block__code-copy:hover {
    border: 1px solid #4d545e;
    background: #191e26;
}

.block__code-copy:active {
    border: 1px solid #454a54;
    background: #161b22;
}

.block__code-command {
    font-size: 3rem;
}

.block__code-explaining {
    font-size: 2.4rem;
    font-family: 'Roboto', sans-serif;
    color: var(--gray-text);
}